/*#loginDot {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
section {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

img {
  width: 50px;
}*/
body {
  background-color: #3D4252;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  background-color: white;
  color: #3D4252;
  text-align: center;
  width: 100vw;
  margin: 0;
  padding: 10px;
}

button {
  background-color: white;
  color: #3D4252;
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  margin: 4px 0;
  font-size: 15px;
  padding: 10px;
}

img {
  width: 100px;
  padding: 20px;
}

.login-section {
  position: absolute;
  top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-section h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login-button {
  background-color: #538bc9;
  color: white;
}

.register-button {
  background-color: #ffc600;
  color: white;
}

.logged-in-section {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3D4252;
}

.logged-in-section h2 {
  margin: 14px 0;
}

.logged-in-section button {
  background-color: #a15e9b;
  color: white;
  margin: 0 10px 0 20px;
}

.login-dot {
  background-color: #9cdad0;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 10px;
}

.profile-section {
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-section button {
  background-color: #FCADC5;
  color: white;
}

.my-books-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.button-div {
  padding: 20px;
}

.button-div :nth-child(1) {
  background-color: #538bc9;
  color: white;
}

.button-div :nth-child(2) {
  background-color: #5c6abd;
  color: white;
}

.library-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.library-section > div {
  margin: 10px;
  padding: 20px;
  background-color: #505563;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.library-section ul {
  padding: 0;
}

.library-section li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
  min-width: 300px;
}

.library-section h3 {
  margin-top: 0;
}

.library-section article {
  margin-bottom: 40px;
}

.library-section article p {
  font-size: 12px;
}

.upload-section {
  margin: 10px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 4px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.upload-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-section fieldset {
  max-width: 300px;
  border: 1px solid white;
  border-radius: 4px;
}

.upload-section button {
  background-color: #ffc600;
  color: white;
}

.file-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
}

.file-upload::file-selector-button {
  background-color: white;
  color: #3D4252;
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 10px;
  padding: 4px;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */